.learner-completions-visualization {
  border: 1px solid #b1b2b4;
  max-width: 300px;
  margin: auto;
  padding: 10px;
  font-size: 14px;

  hr {
    margin: -25px 0 10px;
  }

  h2 {
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  .course-name {
    margin: 0;
  }
  .streaks {
    div {
      width: 50%;

      p {
        margin: 0;
      }

      .streak-number {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .react-calendar-heatmap {
    .color-0 {
      fill: #F4F5F5;
    }

    .color-1 {
      fill: #E5C1D2;
    }

    .color-2 {
      fill: #D68EAE;
    }

    .color-3 {
      fill: #C65A8B;
    }

    .color-4 {
      fill: #B72667;
    }
  }
}
