.react-calendar-heatmap .color-0 {
  fill: #F4F5F5;
}
.react-calendar-heatmap .color-1 {
  fill: #E5C1D2;
}
.react-calendar-heatmap .color-2 {
  fill: #D68EAE;
}
.react-calendar-heatmap .color-3 {
  fill: #C65A8B;
}
.react-calendar-heatmap .color-4 {
  fill: #B72667;
}
